


<ul class="nav flex-column  bg-dark">

  
  <li class="nav-item"> 
    <a  aria-current="page" href="#"><i class="fa-solid fa-arrow-down mx-5"></i></a>
  </li>
  <li class="nav-item ">
    <a     class="nav-link "  routerLink="/home" ><i class="fa-solid fa-people-group"></i> custmers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/home/contact"> <i class="fa-solid fa-id-badge"></i> contacts</a>
  </li>

  <li class="nav-item">
    <a class="nav-link disabled"> <i class="fa-solid fa-house"></i>home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"> <i class="fa-solid fa-sliders"></i>setting   </a>
  </li>
</ul>


